<div class="input-group comparisions-container">
    <select class="form-control" ng-options="job as job.name for job in jobs track by job.name" ng-model="job"></select>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Requerimientos</th>
            <th>Mi carrera</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ job.requirements }}
            </td>
            <td>
                {{ user.achievements }}
            </td>
        </tr>
    </tbody>
</table>